Exercícios Aula 1 no Lab

In [34]:
from __future__ import division, print_function
from functools import reduce

In [7]:
def quadrado(n): return n*n

In [6]:
aplique = lambda f, n: f(n)

In [5]:
#Funcao lambda anonima
#Sintaxe concisa que muitas vezes eh dificil de ler

cria_imposto = lambda aliquota: lambda valor: aliquota * valor

In [8]:
(cria_imposto(0.05))(10000)

500.0

In [ ]:
Ex) Reescrever fatorial como função anônima

In [9]:
#Notacao if then else pro python, que nem o ml. Só que o python puxa bem a expressão matemática, pra ler naturalmente
fatorial = lambda n: 1 if n == 0 else n*fatorial(n-1)
fatorial(4)

24

As três funções de alta ordem mais importantes:
    - map - aplica uma função sobre uma coleção de dados
    - filter - filtrar dados de uma coleção
    - reduce - reduz via computação uma coleção para uma unidade(número)

MAP

In [10]:
num = range(10)

In [14]:
map(quadrado, num)
num

range(0, 10)

In [13]:
#dobra todos os numeros da colecao
map(lambda n:n*2, num)


FILTER

In [32]:
def par(n):
        if n%2 == 0:
            return True
        else:
            return False
        
a = filter(par, num)

In [20]:
filter(lambda n: n%2 == 0, num)

REDUCE

In [30]:
reduce(lambda x, y: x+y, num)

45

#### Programando com map, filter e reduce

Ex) Escrevam uma função que exiba a soma dos quadrados dos pares menores que 100

In [22]:
range(100)

range(0, 100)

In [24]:
reduce(lambda x,y: x+y, map(quadrado, filter(par, range(100))))

161700

In [26]:
#notacao anonima

reduce(lambda x,y: x+y, map(lambda n: n*n, filter(lambda n: n%2 == 0, range(100))))

161700

#### Exemplo de list comprehensions

In [27]:
map(lambda n: n*n, num)

In [28]:
[n*n for n in num]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
[n*n for n in num if par(n)] #sintaxe de conjuntos, mais concisa e mais legível

[0, 4, 16, 36, 64]